{% extends 'base.html' %} {% block title %}Report{% endblock title %} 
{% block links %} {% load static %}
<link rel="stylesheet" href="{% static 'assets/report.css' %}" />
<link rel="stylesheet" href="{% static 'assets/style.css' %}" />

<script src="https://cdn.tailwindcss.com"></script>
<link
  rel="shortcut icon"
  href="{% static 'images/icon.png' %}"
  type="image/x-icon"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
  rel="stylesheet"
/>
{% endblock links %} {% block body %}
<section style="background: #e3f9e8"></section>
<section class="report-form" id="report-form">

  <center>
      <h1 class="text-3xl">REPORT THE COMPLAINT</h1>
      <div>
Fill in legitmate details. We will get back to you soon. If any decrepancies are found, you would be liable.
      </div>
    </div>
  </center>
  <center><img src="{% static 'images/report.png' %}" alt="" /></center>
  <div class="report_content">
    <div class="rect">
      <form action="/report" method="post">
        {% csrf_token %}
        <div class="text" id="name-text">Name</div>
        <div>
          <input type="text" class="i-field"name="name" id="name"required />
        </div>
        <div class="text">Date of the Incident</div>

        <div>
          <input type="date" class="i-field"name="date" id="date"required />
        </div>
        <div class="text">Time of the Incident</div>
        <div>
          <input type="time" class="i-field"name="time" id="time"required />
        </div>
        <div class="text">About the Incident</div>

        <div>
          <input type="text" class="i-field"name="about" id="about"required />
        </div>
        <div class="text">Any police report filed by you?</div>
        <div>
          <input type="text" class="i-field"name="police_report" id="police_report" required/>
        </div>
        <div class="text">Any link or Evidence link</div>
        <div>
          <input type="text" class="i-field"name="link" id="link" required/>
        </div>
        <div class="text">How can we help you?</div>
        <div>
          <select
            name="help"
            class="i-field"
            id="help"
          >
            <option value="Talk to your guardians or friends">Talk to your guardians or friends</option>
            <option value="Report to the authorities">Report to the authorities</option>
            <option value="Simple talk with the assaulter and let them know the consequences">Simple talk with the assaulter and let them know the consequences </option>
          </select>
        </div>
        <center><div>
          <button type="submit" id="submit">Submit</button>
        </div>
      </center>
      </form>
    </div>
  </div>
</section>
{% endblock body %}
{% block messagebox %}
<center>    
  {% if messages %}{% for message in messages %}
  <div class="messagebox" >
<div class="alert alert-{{ message.tags }} alert-dismissible fade show my-0 extra" role="alert">
 {{ message }}
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div></div>{% endfor %}{% endif %}

</center>
{% endblock messagebox %}